/* Input fields */
input {
    width: 100%; /* Ensure full width in its container */
    height: 40px;
    border-radius: 10px;
    border-style: outset;
    border-color: #608A7D;
    padding: 8px;
}

/* Headings */
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Labels */
label {
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-transform: capitalize;
    padding: 4px;
}

/* Submit button */
.submit {
    width: 30%; /* Adjust button width to fit its container */
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    background-color: #608A7D;
    color: white;
}

/* Border styles */
.border {
    border-color: #C7C7C7;
}

/* Visibility toggle button */
.eye {
    position: absolute;
    top: 50%;
    right: 1rem; /* Adjusted to be near the right side */
    transform: translateY(-50%);
    padding: 2px;
}

/* For the visibility toggle button */
input[type='password'] + button img {
    vertical-align: middle;
}

/* Manage visibility of notes */
.visible {
    display: block;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

/* Media Queries */

/* For tablets and smaller devices */
@media (max-width: 768px) {
    .submit {
        width: 100%;
        padding: 8px;
    }

    .eye {
        right: 8%; /* Adjust the position of the eye icon */
    }
}

/* For mobile devices */
@media (max-width: 480px) {
    input {
        width: 100%;
        padding: 6px;
    }

    label {
        font-size: small;
        padding: 2px;
    }

    .submit {
        height: 36px;
        padding: 6px;
    }

    .eye {
        right: 6%; /* Further adjust the position of the eye icon */
    }
}
@media (max-width: 1024px) {
    input {
        width: 100%;
        padding: 6px;
    }

    label {
        font-size: small;
        padding: 2px;
    }

    .submit {
        height: 36px;
        padding: 6px;
    }

    .eye {
        right: 7em; /* Further adjust the position of the eye icon */
    }
}
