input{
    Width:558px;
    height:40px;
    top:745px ;
     left:608px;
    border-radius:10px ;
    border-style:outset;
    border-color: #608A7D;

}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label{
    font:300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-transform: capitalize;
    margin-left: ;
}

button{
    width:fixed(86px);
    height:fixed(40px);
    top:1104px;
    left:844px;
    border-radius:10px;
    padding:10px;
    gap:10px;
    background-color: #608A7D;
    color: white;

}